h2{
    text-align: center;
}
.multi{
    text-align: center;
    font-size: 0;
}
.multi > div{
    display: inline-block;
    width: 100px;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    border-right: 1px solid #aaa;
    border-top: 1px solid #aaa;
}
.multi .bottom-border-cell{
    border-bottom: 1px solid #aaa;
}
.multi .left-border-cell{
    border-left: 1px solid #aaa;
}

