<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue 组件练习7</title>
    <link rel="stylesheet" href="./css/base.css">
    <style> 
    </style>
</head>
<body>
    <h2>vue 组件练习7</h2>
    <div id="app">
        <parent></parent>
    </div>

    <script src="./js/back.js"></script>
    <script src="./lib/vue.js"></script>

    <script>
        Vue.component('parent', {
            template: `
            <div>
                <ul>
                    <li v-for="user in users">{{user}}</li>
                </ul>
                <child></child>
            </div>
            `,
            data(){
                return {
                    users: ['tom', 'jerry']
                };
            },
            methods: {

            }
        });
        
        Vue.component('child', {
            template: `
            <div>
                <input @keyup.enter="addUser" type="text" v-model="newUser">
                <button @click="addUser">添加</button>
            </div>
            `,
            data(){
                return {
                    newUser: '',
                    info: ''
                };
            },
            methods: {
                addUser(){
                    if(this.newUser.trim() != ''){
                        this.$parent.users.push(this.newUser);
                        this.newUser = '';
                    }
                }
            }
        });
        
        new Vue({
            el: '#app'
        });

    </script>
</body>
</html>
