<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue data list</title>
    <link rel="stylesheet" href="./css/base.css">
    <style>    
    </style>
</head>
<body>
    <h2>vue data list</h2>
    <div id="app">
        <input type="text" name="username" @keyup.enter="addUser" v-model="newItem">
        <ul>
            <li v-for="(user,index) in users">
                <span>{{user}}</span>&nbsp;&nbsp;<button @click="deleteUser(index)">删除</button>
            </li>
        </ul>
    </div>

    <script src="./js/back.js"></script>
    <script src="./lib/vue.min.js"></script>

    <script>
        let myData = {
            newItem: '',
            users: ['tom','mary']
        };

        new Vue({
            el: '#app',
            data: myData,
            methods: {
                addUser(e){
                    let newItem = this.newItem;
                    if(newItem && newItem.trim() != ''){
                        this.users.push(newItem);
                        this.newItem = '';
                    }
                },
                deleteUser(index){
                    this.users.splice(index, 1);
                }
            }
        });
    </script>
</body>
</html>
